<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
          <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
          <form action="/bookmarks" method="post" class="bookmark">
            <input name="_method" type="hidden" value="delete" />
          <button type="submit" name="delete" value="<%= bookmark.id %>">Delete</button>
          </form>
        </li>
      <% end %>
    </ul>
  </body>
</html>
